Make projet scraping.json
{
    "name": "Integration Google Forms",
    "flow": [
        {
            "id": 3,
            "module": "google-forms:watchResponses",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 3563615,
                "formId": "1YdmLT5qD8nPkVG4u7pU0OjjeT3huSVB9pvIHC0TZTyo",
                "limit": 25
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -263,
                    "y": -4
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (sakplogan@eugeniaschool.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "formId",
                        "type": "text",
                        "label": "Form ID",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "responseId",
                        "type": "text",
                        "label": "Response ID"
                    },
                    {
                        "name": "createTime",
                        "type": "date",
                        "label": "Create Time"
                    },
                    {
                        "name": "lastSubmittedTime",
                        "type": "date",
                        "label": "Last Submitted Time"
                    },
                    {
                        "name": "respondentEmail",
                        "type": "text",
                        "label": "Respondent Email"
                    },
                    {
                        "name": "answers",
                        "spec": [
                            {
                                "name": "720adcbe",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Quel est votre nom ?"
                            },
                            {
                                "name": "476379b8",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Que désirez vous aujourd'hui ?"
                            },
                            {
                                "name": "4175d9c4",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Sur quelle adresse mail souhaitez vous recevoir les propositions ?"
                            }
                        ],
                        "type": "collection",
                        "label": "Answers"
                    },
                    {
                        "name": "totalScore",
                        "type": "number",
                        "label": "Total Score"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 3563615
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.answers.`476379b8`.textAnswers.answers[].value}}",
                                            "o": "text:equal",
                                            "b": "Dessert rapide (1 heure maximum)"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING",
                                "limit": "3",
                                "spreadsheetId": "1snNnXa0b3nOylBYpNqrCbCcTgRPNJqnb8kxV6vbHv5M",
                                "sheetId": "recipes",
                                "includesHeaders": true,
                                "tableFirstRow": "A1:CZ1",
                                "filter": [
                                    [
                                        {
                                            "a": "C",
                                            "o": "number:less",
                                            "b": "60"
                                        }
                                    ]
                                ],
                                "orderBy": "C",
                                "sortOrder": "asc",
                                "fieldType": "string"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 594,
                                    "y": -380
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection (sakplogan@eugeniaschool.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "from": {
                                            "label": "Select from My Drive"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        },
                                        "spreadsheetId": {
                                            "mode": "chose",
                                            "label": "Data Scraping Marmiton"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "recipes"
                                        },
                                        "includesHeaders": {
                                            "mode": "chose",
                                            "label": "Yes"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-CZ"
                                        },
                                        "orderBy": {
                                            "mode": "chose",
                                            "label": "Preparation time (C)"
                                        },
                                        "sortOrder": {
                                            "mode": "chose",
                                            "label": "Ascending"
                                        },
                                        "fieldType": {
                                            "mode": "chose",
                                            "label": "String"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1",
                                                "A1:AZZ1",
                                                "A1:BZZ1",
                                                "A1:CZZ1",
                                                "A1:DZZ1",
                                                "A1:MZZ1",
                                                "A1:ZZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                    },
                                    {
                                        "name": "orderBy",
                                        "type": "select",
                                        "label": "Order by"
                                    },
                                    {
                                        "name": "sortOrder",
                                        "type": "select",
                                        "label": "Sort order",
                                        "validate": {
                                            "enum": [
                                                "asc",
                                                "desc"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "fieldType",
                                        "type": "select",
                                        "label": "Field Type",
                                        "validate": {
                                            "enum": [
                                                "string",
                                                "number",
                                                "date"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "label": "Total number of bundles",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "label": "Bundle order position",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "label": "Row number",
                                        "type": "number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "label": "Spreadsheet ID",
                                        "type": "text"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "label": "Sheet",
                                        "type": "text"
                                    },
                                    {
                                        "name": "0",
                                        "label": "Name (A)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "1",
                                        "label": "Link (B)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "2",
                                        "label": "Preparation time (C)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "3",
                                        "label": "Ingredients (D)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "4",
                                        "label": "Ingredient count (E)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "5",
                                        "label": "Difficulty (F)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "6",
                                        "label": "Budget (G)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "7",
                                        "label": "Steps count (H)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "8",
                                        "label": "Category (I)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "9",
                                        "label": "Rating (J)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "10",
                                        "label": "Review count (K)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "11",
                                        "label": "(L)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "12",
                                        "label": "(M)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "13",
                                        "label": "(N)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "14",
                                        "label": "(O)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "15",
                                        "label": "(P)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "16",
                                        "label": "(Q)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "17",
                                        "label": "(R)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "18",
                                        "label": "(S)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "19",
                                        "label": "(T)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "20",
                                        "label": "(U)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "21",
                                        "label": "(V)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "22",
                                        "label": "(W)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "23",
                                        "label": "(X)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "24",
                                        "label": "(Y)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "25",
                                        "label": "(Z)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "26",
                                        "label": "(AA)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "27",
                                        "label": "(AB)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "28",
                                        "label": "(AC)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "29",
                                        "label": "(AD)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "30",
                                        "label": "(AE)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "31",
                                        "label": "(AF)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "32",
                                        "label": "(AG)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "33",
                                        "label": "(AH)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "34",
                                        "label": "(AI)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "35",
                                        "label": "(AJ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "36",
                                        "label": "(AK)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "37",
                                        "label": "(AL)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "38",
                                        "label": "(AM)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "39",
                                        "label": "(AN)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "40",
                                        "label": "(AO)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "41",
                                        "label": "(AP)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "42",
                                        "label": "(AQ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "43",
                                        "label": "(AR)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "44",
                                        "label": "(AS)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "45",
                                        "label": "(AT)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "46",
                                        "label": "(AU)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "47",
                                        "label": "(AV)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "48",
                                        "label": "(AW)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "49",
                                        "label": "(AX)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "50",
                                        "label": "(AY)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "51",
                                        "label": "(AZ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "52",
                                        "label": "(BA)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "53",
                                        "label": "(BB)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "54",
                                        "label": "(BC)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "55",
                                        "label": "(BD)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "56",
                                        "label": "(BE)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "57",
                                        "label": "(BF)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "58",
                                        "label": "(BG)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "59",
                                        "label": "(BH)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "60",
                                        "label": "(BI)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "61",
                                        "label": "(BJ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "62",
                                        "label": "(BK)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "63",
                                        "label": "(BL)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "64",
                                        "label": "(BM)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "65",
                                        "label": "(BN)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "66",
                                        "label": "(BO)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "67",
                                        "label": "(BP)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "68",
                                        "label": "(BQ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "69",
                                        "label": "(BR)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "70",
                                        "label": "(BS)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "71",
                                        "label": "(BT)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "72",
                                        "label": "(BU)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "73",
                                        "label": "(BV)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "74",
                                        "label": "(BW)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "75",
                                        "label": "(BX)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "76",
                                        "label": "(BY)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "77",
                                        "label": "(BZ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "78",
                                        "label": "(CA)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "79",
                                        "label": "(CB)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "80",
                                        "label": "(CC)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "81",
                                        "label": "(CD)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "82",
                                        "label": "(CE)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "83",
                                        "label": "(CF)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "84",
                                        "label": "(CG)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "85",
                                        "label": "(CH)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "86",
                                        "label": "(CI)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "87",
                                        "label": "(CJ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "88",
                                        "label": "(CK)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "89",
                                        "label": "(CL)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "90",
                                        "label": "(CM)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "91",
                                        "label": "(CN)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "92",
                                        "label": "(CO)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "93",
                                        "label": "(CP)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "94",
                                        "label": "(CQ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "95",
                                        "label": "(CR)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "96",
                                        "label": "(CS)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "97",
                                        "label": "(CT)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "98",
                                        "label": "(CU)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "99",
                                        "label": "(CV)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "100",
                                        "label": "(CW)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "101",
                                        "label": "(CX)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "102",
                                        "label": "(CY)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "103",
                                        "label": "(CZ)",
                                        "type": "text"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 3529432
                            },
                            "mapper": {
                                "from": "",
                                "to": [
                                    "{{3.answers.`4175d9c4`.textAnswers.answers[].value}}"
                                ],
                                "subject": "Objet : 🕒 Découvrez des desserts rapides en moins d'une heure !",
                                "html": "Bonjour {{3.answers.`720adcbe`.grade.feedback.textAnswers.answers[].value}}  ,\n\nVous cherchez un dessert rapide à préparer ? Voici quelques suggestions qui ne devraient pas vous prendre moins d'une heure :\n\nDessert 1 :\n- Nom de dessert : {{7.`0`}}\n- Lien du dessert : {{7.`1`}}\n- Liste des ingrédients : {{7.`3`}}\n- Difficulté : {{7.`5`}}\n- Budget : {{7.`6`}}\n- Nombre d'étapes : {{7.`7`}}\n\nDessert 2 : \n- Nom de dessert : {{7.`0`}}\n- Lien du dessert : {{7.`1`}}\n- Liste des ingrédients : {{7.`3`}}\n- Difficulté : {{7.`5`}}\n- Budget : {{7.`6`}}\n- Nombre d'étapes : {{7.`7`}}\n\nDessert 3 :\n- Nom de dessert : {{7.`0`}}\n- Lien du dessert : {{7.`1`}}\n- Liste des ingrédients : {{7.`3`}}\n- Difficulté : {{7.`5`}}\n- Budget : {{7.`6`}}\n- Nombre d'étapes : {{7.`7`}}\n\n\nNous espérons que ces idées vous inspireront ! Bon appétit ! 😋\n\n\nCordialement,\nSharon & Achraf",
                                "attachments": [],
                                "cc": [],
                                "bcc": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1190,
                                    "y": -345
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Google Restricted connection (sakplogan@eugeniaschool.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "label": "File name",
                                                "type": "filename",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "label": "Data",
                                                "type": "buffer",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "label": "Content-ID",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "Copy recipient",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "Blind copy recipient",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address",
                                            "name": "value"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 3563615
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.answers.`476379b8`.grade.feedback.textAnswers.answers[].value}}",
                                            "o": "text:equal",
                                            "b": "Dessert plus sophistiqué"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING",
                                "limit": "3",
                                "spreadsheetId": "1snNnXa0b3nOylBYpNqrCbCcTgRPNJqnb8kxV6vbHv5M",
                                "sheetId": "recipes",
                                "includesHeaders": true,
                                "tableFirstRow": "A1:CZ1",
                                "filter": [
                                    [
                                        {
                                            "a": "C",
                                            "o": "number:greaterorequal",
                                            "b": "60"
                                        }
                                    ]
                                ],
                                "orderBy": "C",
                                "sortOrder": "asc",
                                "fieldType": "string"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 593,
                                    "y": 3
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection (sakplogan@eugeniaschool.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "from": {
                                            "label": "Select from My Drive"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        },
                                        "spreadsheetId": {
                                            "mode": "chose",
                                            "label": "Data Scraping Marmiton"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "recipes"
                                        },
                                        "includesHeaders": {
                                            "mode": "chose",
                                            "label": "Yes"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-CZ"
                                        },
                                        "orderBy": {
                                            "mode": "chose",
                                            "label": "Preparation time (C)"
                                        },
                                        "sortOrder": {
                                            "mode": "chose",
                                            "label": "Ascending"
                                        },
                                        "fieldType": {
                                            "mode": "chose",
                                            "label": "String"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1",
                                                "A1:AZZ1",
                                                "A1:BZZ1",
                                                "A1:CZZ1",
                                                "A1:DZZ1",
                                                "A1:MZZ1",
                                                "A1:ZZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                    },
                                    {
                                        "name": "orderBy",
                                        "type": "select",
                                        "label": "Order by"
                                    },
                                    {
                                        "name": "sortOrder",
                                        "type": "select",
                                        "label": "Sort order",
                                        "validate": {
                                            "enum": [
                                                "asc",
                                                "desc"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "fieldType",
                                        "type": "select",
                                        "label": "Field Type",
                                        "validate": {
                                            "enum": [
                                                "string",
                                                "number",
                                                "date"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "label": "Row number",
                                        "type": "number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "label": "Spreadsheet ID",
                                        "type": "text"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "label": "Sheet",
                                        "type": "text"
                                    },
                                    {
                                        "name": "0",
                                        "label": "Name (A)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "1",
                                        "label": "Link (B)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "2",
                                        "label": "Preparation time (C)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "3",
                                        "label": "Ingredients (D)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "4",
                                        "label": "Ingredient count (E)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "5",
                                        "label": "Difficulty (F)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "6",
                                        "label": "Budget (G)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "7",
                                        "label": "Steps count (H)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "8",
                                        "label": "Category (I)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "9",
                                        "label": "Rating (J)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "10",
                                        "label": "Review count (K)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "11",
                                        "label": "(L)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "12",
                                        "label": "(M)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "13",
                                        "label": "(N)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "14",
                                        "label": "(O)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "15",
                                        "label": "(P)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "16",
                                        "label": "(Q)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "17",
                                        "label": "(R)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "18",
                                        "label": "(S)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "19",
                                        "label": "(T)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "20",
                                        "label": "(U)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "21",
                                        "label": "(V)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "22",
                                        "label": "(W)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "23",
                                        "label": "(X)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "24",
                                        "label": "(Y)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "25",
                                        "label": "(Z)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "26",
                                        "label": "(AA)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "27",
                                        "label": "(AB)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "28",
                                        "label": "(AC)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "29",
                                        "label": "(AD)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "30",
                                        "label": "(AE)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "31",
                                        "label": "(AF)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "32",
                                        "label": "(AG)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "33",
                                        "label": "(AH)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "34",
                                        "label": "(AI)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "35",
                                        "label": "(AJ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "36",
                                        "label": "(AK)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "37",
                                        "label": "(AL)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "38",
                                        "label": "(AM)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "39",
                                        "label": "(AN)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "40",
                                        "label": "(AO)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "41",
                                        "label": "(AP)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "42",
                                        "label": "(AQ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "43",
                                        "label": "(AR)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "44",
                                        "label": "(AS)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "45",
                                        "label": "(AT)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "46",
                                        "label": "(AU)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "47",
                                        "label": "(AV)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "48",
                                        "label": "(AW)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "49",
                                        "label": "(AX)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "50",
                                        "label": "(AY)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "51",
                                        "label": "(AZ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "52",
                                        "label": "(BA)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "53",
                                        "label": "(BB)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "54",
                                        "label": "(BC)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "55",
                                        "label": "(BD)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "56",
                                        "label": "(BE)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "57",
                                        "label": "(BF)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "58",
                                        "label": "(BG)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "59",
                                        "label": "(BH)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "60",
                                        "label": "(BI)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "61",
                                        "label": "(BJ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "62",
                                        "label": "(BK)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "63",
                                        "label": "(BL)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "64",
                                        "label": "(BM)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "65",
                                        "label": "(BN)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "66",
                                        "label": "(BO)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "67",
                                        "label": "(BP)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "68",
                                        "label": "(BQ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "69",
                                        "label": "(BR)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "70",
                                        "label": "(BS)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "71",
                                        "label": "(BT)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "72",
                                        "label": "(BU)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "73",
                                        "label": "(BV)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "74",
                                        "label": "(BW)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "75",
                                        "label": "(BX)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "76",
                                        "label": "(BY)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "77",
                                        "label": "(BZ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "78",
                                        "label": "(CA)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "79",
                                        "label": "(CB)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "80",
                                        "label": "(CC)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "81",
                                        "label": "(CD)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "82",
                                        "label": "(CE)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "83",
                                        "label": "(CF)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "84",
                                        "label": "(CG)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "85",
                                        "label": "(CH)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "86",
                                        "label": "(CI)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "87",
                                        "label": "(CJ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "88",
                                        "label": "(CK)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "89",
                                        "label": "(CL)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "90",
                                        "label": "(CM)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "91",
                                        "label": "(CN)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "92",
                                        "label": "(CO)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "93",
                                        "label": "(CP)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "94",
                                        "label": "(CQ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "95",
                                        "label": "(CR)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "96",
                                        "label": "(CS)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "97",
                                        "label": "(CT)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "98",
                                        "label": "(CU)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "99",
                                        "label": "(CV)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "100",
                                        "label": "(CW)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "101",
                                        "label": "(CX)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "102",
                                        "label": "(CY)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "103",
                                        "label": "(CZ)",
                                        "type": "text"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 3529432
                            },
                            "mapper": {
                                "from": "",
                                "to": [
                                    "{{3.respondentEmail}}"
                                ],
                                "subject": "🍓 Découvrez des desserts plus sophistiqués",
                                "html": "Bonjour {{3.answers.`720adcbe`.grade.feedback.textAnswers.answers[].value}} ,\n\nVous cherchez un dessert rapide à préparer ? Voici quelques suggestions qui ne devraient pas vous prendre moins d'une heure :\n\nDessert 1 :\n- Nom de dessert : {{8.`0`}}\n- Lien du dessert : {{8.`1`}}\n- Liste des ingrédients : {{8.`3`}}\n- Difficulté : {{8.`5`}}\n- Budget : {{8.`6`}}\n- Nombre d'étapes : {{8.`7`}}\n\nDessert 2 : \n- Nom de dessert : {{8.`0`}}\n- Lien du dessert : {{8.`1`}}\n- Liste des ingrédients : {{8.`3`}}\n- Difficulté : {{8.`5`}}\n- Budget : {{8.`6`}}\n- Nombre d'étapes : {{8.`7`}}\n\nDessert 3 :\n- Nom de dessert : {{8.`0`}}\n- Lien du dessert : {{8.`1`}}\n- Liste des ingrédients : {{8.`3`}}\n- Difficulté : {{8.`5`}}\n- Budget : {{8.`6`}}\n- Nombre d'étapes : {{8.`7`}}\n\nNous espérons que ces idées vous inspireront ! Bon appétit ! 😋\n\n\nCordialement,\nSharon & Achraf",
                                "attachments": [],
                                "cc": [],
                                "bcc": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1184,
                                    "y": 40
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Google Restricted connection (sakplogan@eugeniaschool.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "label": "File name",
                                                "type": "filename",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "label": "Data",
                                                "type": "buffer",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "label": "Content-ID",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "Copy recipient",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "Blind copy recipient",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address",
                                            "name": "value"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 3563615
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.answers.`476379b8`.grade.feedback.textAnswers.answers[].value}}",
                                            "o": "text:equal",
                                            "b": "Défi culinaire"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING",
                                "limit": "1",
                                "spreadsheetId": "1snNnXa0b3nOylBYpNqrCbCcTgRPNJqnb8kxV6vbHv5M",
                                "sheetId": "recipes",
                                "includesHeaders": true,
                                "tableFirstRow": "A1:CZ1",
                                "filter": [
                                    [
                                        {
                                            "a": "A",
                                            "o": "text:equal",
                                            "b": "RANDOM"
                                        }
                                    ]
                                ],
                                "orderBy": "K",
                                "sortOrder": "desc",
                                "fieldType": "number"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 547,
                                    "y": 335
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection (sakplogan@eugeniaschool.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "from": {
                                            "label": "Select from My Drive"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        },
                                        "spreadsheetId": {
                                            "mode": "chose",
                                            "label": "Data Scraping Marmiton"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "recipes"
                                        },
                                        "includesHeaders": {
                                            "mode": "chose",
                                            "label": "Yes"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-CZ"
                                        },
                                        "orderBy": {
                                            "mode": "chose",
                                            "label": "Review count (K)"
                                        },
                                        "sortOrder": {
                                            "mode": "chose",
                                            "label": "Descending"
                                        },
                                        "fieldType": {
                                            "mode": "chose",
                                            "label": "Number"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1",
                                                "A1:AZZ1",
                                                "A1:BZZ1",
                                                "A1:CZZ1",
                                                "A1:DZZ1",
                                                "A1:MZZ1",
                                                "A1:ZZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                    },
                                    {
                                        "name": "orderBy",
                                        "type": "select",
                                        "label": "Order by"
                                    },
                                    {
                                        "name": "sortOrder",
                                        "type": "select",
                                        "label": "Sort order",
                                        "validate": {
                                            "enum": [
                                                "asc",
                                                "desc"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "fieldType",
                                        "type": "select",
                                        "label": "Field Type",
                                        "validate": {
                                            "enum": [
                                                "string",
                                                "number",
                                                "date"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "label": "Row number",
                                        "type": "number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "label": "Spreadsheet ID",
                                        "type": "text"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "label": "Sheet",
                                        "type": "text"
                                    },
                                    {
                                        "name": "0",
                                        "label": "Name (A)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "1",
                                        "label": "Link (B)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "2",
                                        "label": "Preparation time (C)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "3",
                                        "label": "Ingredients (D)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "4",
                                        "label": "Ingredient count (E)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "5",
                                        "label": "Difficulty (F)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "6",
                                        "label": "Budget (G)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "7",
                                        "label": "Steps count (H)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "8",
                                        "label": "Category (I)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "9",
                                        "label": "Rating (J)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "10",
                                        "label": "Review count (K)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "11",
                                        "label": "(L)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "12",
                                        "label": "(M)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "13",
                                        "label": "(N)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "14",
                                        "label": "(O)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "15",
                                        "label": "(P)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "16",
                                        "label": "(Q)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "17",
                                        "label": "(R)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "18",
                                        "label": "(S)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "19",
                                        "label": "(T)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "20",
                                        "label": "(U)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "21",
                                        "label": "(V)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "22",
                                        "label": "(W)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "23",
                                        "label": "(X)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "24",
                                        "label": "(Y)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "25",
                                        "label": "(Z)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "26",
                                        "label": "(AA)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "27",
                                        "label": "(AB)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "28",
                                        "label": "(AC)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "29",
                                        "label": "(AD)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "30",
                                        "label": "(AE)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "31",
                                        "label": "(AF)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "32",
                                        "label": "(AG)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "33",
                                        "label": "(AH)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "34",
                                        "label": "(AI)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "35",
                                        "label": "(AJ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "36",
                                        "label": "(AK)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "37",
                                        "label": "(AL)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "38",
                                        "label": "(AM)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "39",
                                        "label": "(AN)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "40",
                                        "label": "(AO)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "41",
                                        "label": "(AP)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "42",
                                        "label": "(AQ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "43",
                                        "label": "(AR)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "44",
                                        "label": "(AS)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "45",
                                        "label": "(AT)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "46",
                                        "label": "(AU)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "47",
                                        "label": "(AV)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "48",
                                        "label": "(AW)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "49",
                                        "label": "(AX)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "50",
                                        "label": "(AY)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "51",
                                        "label": "(AZ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "52",
                                        "label": "(BA)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "53",
                                        "label": "(BB)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "54",
                                        "label": "(BC)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "55",
                                        "label": "(BD)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "56",
                                        "label": "(BE)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "57",
                                        "label": "(BF)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "58",
                                        "label": "(BG)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "59",
                                        "label": "(BH)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "60",
                                        "label": "(BI)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "61",
                                        "label": "(BJ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "62",
                                        "label": "(BK)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "63",
                                        "label": "(BL)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "64",
                                        "label": "(BM)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "65",
                                        "label": "(BN)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "66",
                                        "label": "(BO)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "67",
                                        "label": "(BP)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "68",
                                        "label": "(BQ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "69",
                                        "label": "(BR)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "70",
                                        "label": "(BS)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "71",
                                        "label": "(BT)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "72",
                                        "label": "(BU)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "73",
                                        "label": "(BV)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "74",
                                        "label": "(BW)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "75",
                                        "label": "(BX)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "76",
                                        "label": "(BY)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "77",
                                        "label": "(BZ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "78",
                                        "label": "(CA)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "79",
                                        "label": "(CB)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "80",
                                        "label": "(CC)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "81",
                                        "label": "(CD)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "82",
                                        "label": "(CE)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "83",
                                        "label": "(CF)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "84",
                                        "label": "(CG)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "85",
                                        "label": "(CH)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "86",
                                        "label": "(CI)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "87",
                                        "label": "(CJ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "88",
                                        "label": "(CK)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "89",
                                        "label": "(CL)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "90",
                                        "label": "(CM)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "91",
                                        "label": "(CN)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "92",
                                        "label": "(CO)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "93",
                                        "label": "(CP)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "94",
                                        "label": "(CQ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "95",
                                        "label": "(CR)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "96",
                                        "label": "(CS)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "97",
                                        "label": "(CT)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "98",
                                        "label": "(CU)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "99",
                                        "label": "(CV)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "100",
                                        "label": "(CW)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "101",
                                        "label": "(CX)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "102",
                                        "label": "(CY)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "103",
                                        "label": "(CZ)",
                                        "type": "text"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 13,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 3529432
                            },
                            "mapper": {
                                "from": "",
                                "to": [
                                    "{{3.respondentEmail}}"
                                ],
                                "subject": "Objet : 🎲 Votre défi dessert ",
                                "html": "Bonjour{{3.answers.`720adcbe`.grade.feedback.textAnswers.answers}},\nPrêt(e) à relever un défi culinaire ? Voici un dessert choisi au hasard juste pour vous :\nNom du dessert : {{9.`0`}}\nLien de la recette : {{9.`1`}}\nTemps de préparation : {{9.`2`}}minutes\nIngrédients : {{9.`3`}}\nBudget : {{9.`6`}}\nNombre d'étapes : {{9.`7`}}\nSurprenez vos papilles avec cette recette unique ! Envoyez-nous une photo si vous relevez le défi. 🍴\nCordialement,\nSharon & Achraf",
                                "attachments": [],
                                "cc": [],
                                "bcc": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1175,
                                    "y": 373
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Google Restricted connection (sakplogan@eugeniaschool.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "label": "File name",
                                                "type": "filename",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "label": "Data",
                                                "type": "buffer",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "label": "Content-ID",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "Copy recipient",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "Blind copy recipient",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address",
                                            "name": "value"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}